.item {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  padding: 8px;
  border: 1px solid gray;
  width: 200px;
}

.statusOnline {
  background-color: green;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.statusOffline {
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.name {
  font-size: 20px;
}
