.transactionHistory {
  min-width: 480px;
  border: 1px solid gray;
  font-size: 20px;
}

.transactionHistory th {
  color: white;
  background-color: darkcyan;
  padding: 10px;
}

.transactionHistory tbody {
  color: darkgray;
}

.transactionHistory tr:nth-child(odd) {
  background-color: white;
}

.transactionHistory tr:nth-child(even) {
  background-color: lightgray;
}

.transactionHistory td {
  padding: 10px;
  text-align: center;
}

.transactionHistory td:first-child {
  text-transform: capitalize;
}
